{% extends "products/product_base.html" %}

{% block preproduct %}

<div class="content">

  <a href="{% url 'products:update' pk=product_details.pk %}" class="btn btn-md btn-fill btn-warning"><span class="glyphicon glyphicon-pencil"></span> Update Product</a>
  &nbsp;
  <a href="{% url 'products:delete' pk=product_details.pk %}" class="btn btn-md btn-fill btn-warning"><span class="glyphicon glyphicon-remove-circle"></span> Delete Product</a>
  &nbsp;
  <input type="button" class="btn btn-primary btn-large" value="Go back!" onclick="history.back()">

</div>

<h1>{{product_details.name}}</h1>
<h2>ID: {{product_details.productid}}</h2>
<h2>Type: {{product_details.type}}</h2>
<div style="background-color: rgba(255, 255, 255, 0.8);" data-spy="scroll" data-target=".navbar">
  <div class="list-group-item-text container-fluid">
    <h4 style="color:black;">{{ product_details.description_html|safe }}</h4>
  </div>
</div>


{% endblock %}
